{{ form_start(form, {'attr': {'class': 'p-5 bg-white rounded shadow'}}) }}

    <div class="form-group">
        {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>
  <div class="form-group">
        {{ form_label(form.id_vehicule, 'Marque', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.id_vehicule, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.id_vehicule) }}
    </div>
    <div class="form-group">
        {{ form_label(form.imageFile, 'Photo', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control-file'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>

    <div class="form-group">
        {{ form_label(form.Description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.Quantite_en_stock, 'Stock', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Quantite_en_stock, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Quantite_en_stock) }}
    </div>
     <div class="form-group">
        {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.prix) }}
    </div>

    <button type="submit" class="btn btn-dark btn-lg btn-block">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}

{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-control {
            border-radius: 0;
        }
        .btn-primary {
            border-radius: 0;
        }
        .bg-white {
            border: 1px solid #ccc;
        }
    </style>
{% endblock %}
{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
