{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded">
                <div class="card-header text-center bg-dark text-white">
                    <img src="{{asset('images/Marcel_Noel.png')}}" alt="Logo" class="mb-3 img-fluid" style="width: 10em;">
                </div>
                <div class="card-body">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <label for="inputEmail" class="mb-3">Votre Email :</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
     <div class="password-field mb-3 position-relative ">
    <label for="inputPassword" class="mb-3">Votre Mot de passe :</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>
</div>
<div id="password"></div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-block btn-dark mt-3 w-100" type="submit">
        Entrer
    </button>
</form>
</div>
</div>
</div>
{% endblock %}
